<figure class="position-relative">
  <img src="../../assets/img/banner.jpg" alt="">
  
  <div class="bannertext">
      <div class="container d-flex align-items-center justify-content-center h-100">
          <p class="text-center"><span class="d-block">About Us</span></p>
      </div>
  </div>    
</figure>

<section class="sectionWidget">
  <div class="container">
      <p>The ascendancy of clean energy has been fostered by trends that are unlikely to change: population growth in resource constrained regions, strained grid/infrastructure in established markets, fluctuating fossil fuel prices, environmental concerns and most recently by a growing number of products, services and technologies that offer economically viable alternatives to their traditional competitors. Years of investment and innovation have finally resulted in advances in a broad spectrum of products ranging from energy creation and management to materials designed to conserve energy.</p>
      <p>Knowledge, and even awareness of these innovations has been limited. Reasons for this include public perception that these were niche products and were more expensive than their traditional counterparts and the lack of a central, solutions based marketplace that could provide education / context, an extensive buffet of products and inquiry based guidance to making informed decisions about those products. That marketplace would be responsive to individual needs ranging from an architect’s desire to incorporate state of the art sustainable materials into their design to a consumer seeking to take advantage of the latest products and incentives to reduce their energy costs.</p>
      <p>Utilizing over a decade of thousands of customer requests/searches/inquires, we began to formulate the foundation for a new platform that would incorporate both historical customer cases and strategies to keep it clean, simple and feature very strong algorithms.</p>
      <p>Consequently, Préshent has been developed as the first Clean Energy and Sustainability marketplace platform that services the renewable / sustainable industry.  Customers, including contractors, architects, builders, developers, property management companies, municipalities, government agencies, and consumers, are guided to recommended solutions by a combination of structured questions, qualifiers (where applicable) and data intelligence algorithms.</p>
      <p>Préshent’s ongoing data science research fosters self-learning capabilities that provide intuitive results based on various historical, regional, environmental and related demographics. </p>
  </div>
</section>