<figure class="position-relative">
  <img src="../../assets/img/banner.jpg" alt="">
  
  <div class="bannertext">
      <div class="container d-flex align-items-center justify-content-center h-100">
          <p class="text-center"><span class="d-block">Privacy policy</span></p>
      </div>
  </div>    
</figure>

<section class="sectionWidget">
  <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <ul class="bulleted my-4">
          <li>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li> 
          <li>Excepteur sint occaecat cupidatat non proident</li> 
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
          <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
          <li>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  quis nostrud </li>
      </ul>
      <h4>Duis aute irure dolor in reprehenderit</h4>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</section>