<figure class="position-relative">
  <img src="../../assets/img/banner.jpg" alt="" />
  <div class="bannertext">
    <div class="container d-flex align-items-center justify-content-center h-100">
      <p class="text-center"><span class="d-block">Contact Us</span></p>
    </div>
  </div>
</figure>

<section class="sectionWidget">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-lg-1">
        <h2 class="text-left">Send us a message</h2>
        <form>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="First Name" />
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" placeholder="Last Name" />
            </div>
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" placeholder="Email" />
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" cols="12" rows="5" placeholder="Comment" ></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-4 offset-lg-1">
        <h2 class="text-left">Contact information</h2>
        <ul class="contactinfo">
          <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            #1245, street -1, City name, State name, Country 124533
          </li>
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            012 123 4565
          </li>
          <li>
            <i class="fa fa-envelope-open" aria-hidden="true"></i>
            <a href="#">info@preshent.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
